/* App.css */
.App {
  text-align: center;
  padding-top: 20px; /* Add top padding to create space between header and content */
}

.search-bar {
  margin: 20px auto;
  max-width: 400px;
}

/* Add margin and adjust spacing between movie posters */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px; /* Add top margin to create space between search bar and movie posters */
}

.movie {
  position: relative;
}

.movie_poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie_title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #141414;
}

.header_logo{
  width: 200px;
  height: auto;
}

.header_nav{
  display: flex;
}

.links{
  display: flex;
  gap: 20px;
}

.header_nav a{
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.About-Us{
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.fonts {
  display: flex;
  justify-content: space-between;
}

.fab.fa-facebook{
font-size: 32px;
margin-right: 10px;
color: white;
}

.fab.fa-twitter{
  font-size: 32px;
  margin-right:10px;
  color: white;
}
.fab.fa-instagram {
  font-size: 32px;
  color: white;
}

.fab.fa-instagram {
  font-size: 32px;
}

.movie_details{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1px;
  border-radius: 10px 10px 10px 10px;
  color: #fff;
}

.movie_overview{
  font-size: 14px;
  margin-top: 5px;
}

.movie_rating{
  font-size: 14px;
  margin-top: 5px;
}

body{
  background-image: url("./Assets/login.jpg");
}
.popup-message {
  position: fixed;
  top: 80px; /* Move below the icons (adjust as needed) */
  right: 10px; /* Remains on the right */
  background-color: rgba(0, 0, 0, 0.9); /* Almost fully opaque black */
  color: white; /* White text */
  padding: 15px 30px; /* Larger padding for a bigger appearance */
  border-radius: 8px; /* Slightly rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  font-size: 18px; /* Larger font size */
  font-weight: bold; /* Bold text for emphasis */
  z-index: 1000; /* Ensure it appears on top of everything */
  animation: fadeInOut 3s; /* Animation to fade in and out */
  text-align: center; /* Center the text inside the popup */
  max-width: 300px; /* Reasonable width to avoid being too wide */
  word-wrap: break-word; /* Break long text gracefully */
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}


