/* App.css */
/* App.css */
.App {
  text-align: center;
  padding-top: 20px; /* Add top padding to create space between header and content */
}

.search-bar {
  margin: 20px auto;
  max-width: 400px;
}

/* Add margin and adjust spacing between movie posters */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px; /* Add top margin to create space between search bar and movie posters */
}

.movie {
  position: relative;
}

.movie_poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie_title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

