.Footer {
  background-color: black;
  color: #fff;
  padding: 20px 0;
}

.Footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.Footer h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.Footer p {
  font-size: 14px;
}

.Footer-bottom {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding : 10px 0;
}

.Footer-bottom p {
  font-size: 12px;
  margin: 0;
}
